.JobDetails__wrapper{
    margin:2rem auto;
    border:1px solid #fefefe;
    width:90%;
    padding:1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.JobDetails__wrapper p{
    font-size:18px;    
}
